@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    margin-top: 5rem;

    .uptask {
        @include m.textoDegradado(v.$indigo, v.$indigo);
    }

    .acciones { 
        justify-content: center;

        a {
            color: v.$indigo;
            font-size: 6rem;
            border-bottom: 5px solid v.$indigo;
        }
    }
}